.searchBar { /*cuadro del buscador*/
    display: flex;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}


.input {/*texto dentro del buscador searchBar*/
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 4vmin;
    font-weight: 500; /*el 300 es xq me fije el las fuentes q importe en la clase global "index.css" */
    width: 20rem;
    text-shadow: 0.5px 0px 4px rgb(78, 71, 71);
}


.input:focus {
    outline: none;
}


.input::placeholder {
    color: #fdf9f9ef;
}


.button { 
    border: solid 2px transparent;
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    font-size: 6vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.25s;
    cursor: pointer;
    color: #ffffff;
}


.button:hover { /*se transparenta al posicionar el cursor*/
    background-color: #0000005e;
}



/*----------------------------------------MOVILE------------------------------------------*/
@media screen and (max-width: 1100px) { 

    .input {
        width: 20rem;
    }

    .searchBar { 
        margin-top: 0;
    }
}



@media screen and (max-width: 650px) {

    .input {
        width: 14rem;
    }

    .searchBar { 
        margin-top: 0;
    }
}


@media screen and (max-width: 380px) { 

    .input {
        width: 8rem;
    }

    .button {
        width: 1.8rem;
        height: 1.8rem;
    }
}


